
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aside {
  background-color: #3d0e72;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  font-family: 'Rajdhani', sans-serif;

}

.right-side {
  width: 80%;
}

img {
  width: 100%;
  height: 100px;
}

.red {
  color: red;
}

.header {
  padding: 7px 15px;
  background-color: rgba(201, 201, 201, 0.4);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: auto;
  display: block;
}

.child {
  padding-left: 30px;
  margin-top: 10px;

}

.add-btn {
  padding-right: 10px;
}

.jsListView .card-box {
  border: 1px solid purple;
  margin: 0 0 10px 0;
  display: flex;
}

.jsListView .card-box .card-image {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.jsGridView {
  display: flex;
  flex-wrap: wrap;
}

.jsGridView .card-box {
  width: 33.333%;

}

.view-btn {
  color: purple;
  font-size: 40px;
  background-color: transparent;
  border: none;
  margin-right: 20px;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;

}

.modal-window {
  position: relative;
}
.button{
  padding: 8px 18px;
  color: whitesmoke;
  border: none;
  font-size: 20px;
  background-color: mediumpurple;
  border-radius: 10px;
}
